<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.javafilestoragetest"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" /> 
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/> 
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <provider
android:name="keepass2android.kp2afilechooser.StorageFileProvider"
android:authorities="keepass2android.kp2afilechooser.StorageFileProvider"
android:exported="false" />
        
        <provider
android:name="group.pals.android.lib.ui.filechooser.providers.localfile.LocalFileProvider"
android:authorities="com.example.javafilestoragetest.android-filechooser.localfile"
android:exported="false" />
        
        
<provider
android:name="group.pals.android.lib.ui.filechooser.providers.history.HistoryProvider"
android:authorities="com.example.javafilestoragetest.android-filechooser.history"
android:exported="false" />


<activity
android:name="group.pals.android.lib.ui.filechooser.FileChooserActivity"
android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
android:screenOrientation="user"
android:theme="@style/Afc.Theme.Light" />
        
        
        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask" >
            <intent-filter>

                <!-- db- followed by app key -->
                <data android:scheme="db-4ybka4p4a1027n6" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>

                <!-- db- followed by app key -->
                <data android:scheme="db-ax0268uydp1ya57" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.javafilestoragetest.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.javafilestoragetest.FileStorageSetupActivity"
            android:label="@string/title_activity_file_storage_setup" >
        </activity>
    </application>

</manifest>
