PCtest

*.suo
*.userprefs
*.user

*.designer.cs

src/java/kp2akeytransform/kp2akeytransform.zip

src/Kp2aKeyboardBinding/bin
src/Kp2aKeyboardBinding/obj

src/kp2akeytransform/bin
src/kp2akeytransform/obj

src/Kp2aBusinessLogic/bin
src/Kp2aBusinessLogic/obj

src/Kp2aUnitTests/bin
src/Kp2aUnitTests/obj

src/monodroid-unittesting/MonoDroidUnitTesting/bin
src/monodroid-unittesting/MonoDroidUnitTesting/obj

/src/keepass2android/todos.cs
/src/keepass2android/obj
/src/keepass2android/bin
/src/KeePassLib2Android/bin
/src/KeePass.userprefs
/src/keepass2android/Properties/AndroidManifest.xml

/src/java/kbbridge/bin/AndroidManifest.xml
/src/java/kbbridge/bin/R.txt
/src/java/kbbridge/bin/classes/keepass2android/kbbridge/BuildConfig.class
/src/java/kbbridge/bin/classes/keepass2android/kbbridge/KeyboardData.class
/src/java/kbbridge/bin/classes/keepass2android/kbbridge/KeyboardDataBuilder.class
/src/java/kbbridge/bin/classes/keepass2android/kbbridge/R$attr.class
/src/java/kbbridge/bin/classes/keepass2android/kbbridge/R$drawable.class
/src/java/kbbridge/bin/classes/keepass2android/kbbridge/R$string.class
/src/java/kbbridge/bin/classes/keepass2android/kbbridge/R$style.class
/src/java/kbbridge/bin/classes/keepass2android/kbbridge/R.class
/src/java/kbbridge/bin/kp2asoftkeyboardbridge.jar
/src/java/kbbridge/bin/res/drawable-hdpi/ic_launcher.png
/src/java/kbbridge/bin/res/drawable-mdpi/ic_launcher.png
/src/java/kbbridge/bin/res/drawable-xhdpi/ic_launcher.png

/src/java/kbbridge/libs/android-support-v4.jar
/src/java/KP2ASoftKeyboard/bin
/src/java/KP2ASoftKeyboard/gen
/src/java/KP2ASoftKeyboard/projectzip
/src/java/KP2ASoftKeyboard/createProjectZip.bat
Thumbs.db

/src/monodroid-unittesting/*.suo
/src/Kp2aUnitTests/TestLoadDbCredentials.cs
