PCtest

*.suo
*.userprefs
*.user
*.rawproto

bin
obj

Resource.designer.cs

/src/keepass2android/todos.cs
/src/keepass2android/Properties/AndroidManifest.xml
adbprompt.ps1
Thumbs.db
/src/Kp2aUnitTests/TestLoadDbCredentials.cs
/src/Kp2aUnitTests/Assets/AboutAssets.txt
/src/kp2akeytransform/Jars/*.jar
/src/JavaFileStorageTest
/src/Kp2aBusinessLogic/Io/DropboxFileStorageKeys.cs
/src/ArtTestApp.zip
/src/.vs
/src/Components
/src/SamplePlugin
/src/monodroid-unittesting
/src/packages
/src/PluginTOTP
/src/BindingLibrary1
/src/FtpClientTest
/src/FtpClientWinTest
/src/Kp2aUnitTests2
/src/MaterialTest2
/src/ResourceGrabberTest
/src/WebDavAndroid
/src/JavaFileStorageBindings/Jars/JavaFileStorage-release.aar
/src/Kp2aKeyboardBinding/Jars
/src/PluginSdkBinding/Jars/app-debug.aar
/src/TwofishCipher/Resources/Resource.Designer.cs
/src/PluginSdkBinding/obj/ReleaseNoNet
/src/MasterKeeWinPlugin/bin/Release


# Android (Java)
/src/java/DemoService
/src/java/MasterKee
/src/java/yetanotherworkspace
/src/java/kp2akeytransform - Kopie
/src/java/kp2akeytransform/kp2akeytransform.zip
/src/java/InputStickAPI - Kopie
/src/java/DemoBT
/src/java/workspace
/src/java/workspace_
/src/java/workspace_tmp_
/src/java/.metadata
/src/java/JavaFileStorage/.google_apis/drive-v2/drive
/src/java/JavaFileStorage/.google_apis/drive-v2r102lv1.16.0-rc/drive
/src/java/JavaFileStorage/app/libs
/src/java/JavaFileStorage/app/src/main/java/keepass2android/avafilestorage/SecretKeys.java
/src/java/JavaFileStorageTest-AS/credentials.txt
/src/java/KP2AKdbLibrary/libs/arm64-v8a/libfinal-key.so
/src/java/KP2AKdbLibrary/libs/x86_64/libfinal-key.so
/src/java/KP2AKdbLibrary/app/.cxx
/src/java/KP2ASoftkeyboard_AS/app/src/main/libs/arm64-v8a/libkp2akeyboard_jni.so
/src/java/KP2ASoftkeyboard_AS/app/src/main/libs/armeabi-v7a/libkp2akeyboard_jni.so
/src/java/KP2ASoftkeyboard_AS/app/src/main/libs/x86/libkp2akeyboard_jni.so
/src/java/KP2ASoftkeyboard_AS/app/src/main/libs/x86_64/libkp2akeyboard_jni.so
/src/java/KP2ASoftkeyboard_AS/app/.cxx
/src/java/KP2ASoftkeyboard_AS/app/src/main/libs

*.apk
*.bak
.idea/
.gradle/
local.properties
*.iml
build/
gen/
.DS_Store
.settings/
captures/
*/R.java
src/java/*/app/release/
src/java/*/app/debug/
src/java/*/app/build/
