PCtest

*.suo
*.userprefs
*.user

bin
obj

allow_git_clean

Resource.designer.cs
R.java

src/java/kp2akeytransform/kp2akeytransform.zip

/src/keepass2android/todos.cs
/src/KeePass.userprefs
/src/keepass2android/Properties/AndroidManifest.xml

/src/java/kbbridge/libs/android-support-v4.jar
/src/java/KP2ASoftKeyboard/gen
/src/java/KP2ASoftKeyboard/projectzip
/src/java/KP2ASoftKeyboard/createProjectZip.bat
Thumbs.db

/src/monodroid-unittesting/*.suo
/src/Kp2aUnitTests/TestLoadDbCredentials.cs
/src/KeePass.sln.DotSettings.user
/src/KeePass.v11.suo

/src/Kp2aUnitTests/Assets/AboutAssets.txt
/src/java/KP2ASoftKeyboard/project.zip.tmp
/src/java/workspace/.metadata
/src/java/workspace/KP2AKeyboardTest
/src/keepass2android/*.user

/src/monodroid-unittesting/TestTests
/src/monodroid-unittesting/MonoDroidUnitTestingExample

/src/monodroid-unittesting

/src/kp2akeytransform/Jars/*.jar

/src/java/KP2ASoftKeyboard/.settings

/src/java/kp2akeytransform/.settings

/src/java/workspace/UITest
/src/java/JavaFileStorage/gen/keepass2android/javafilestorage/BuildConfig.java
/src/java/JavaFileStorage/gen/keepass2android/javafilestorage/R.java
/src/JavaFileStorageTest
/src/java/workspace/DBRoulette
/src/java/workspace/JavaFileStorageTest
/src/java/JavaFileStorage/src/keepass2android/javafilestorage/SecretKeys.java
/src/java/android-filechooser/code/gen
/src/java/android-filechooser/code/project.zip
/src/java/android-filechooser/code/projectzip/res

/src/java/android-filechooser/code/AndroidUnusedResources1.6.2.jar
/src/java/android-filechooser/code/createProjectZip.bat
/src/java/android-filechooser/code/projectzip/project.zip
/src/java/android-filechooser/code/unused.txt

/src/Kp2aBusinessLogic/Io/DropboxFileStorageKeys.cs

/src/java/workspace/DriveTest

/src/Components

/src/java/KP2ASoftKeyboard2/java/projectzip

/src/java/.metadata

/src/java/JavaFileStorage/.google_apis/drive-v2/drive

/src/java/JavaFileStorage/.google_apis/drive-v2r102lv1.16.0-rc/drive

/src/java/JavaFileStorage/libs

/src/ArtTestApp.zip

/src/java/KP2ASoftKeyboard/alt
/src/java/KP2ASoftKeyboard/gen
/src/java/KP2ASoftKeyboard/projectalt
/src/java/KP2ASoftKeyboard/projectzip
/src/java/KP2ASoftKeyboard/projectzip_neu

/src/java/jsch-0.1.50/ChangeLog
/src/java/jsch-0.1.50/LICENSE.txt
/src/java/jsch-0.1.50/README
/src/java/jsch-0.1.50/build.bat
/src/java/jsch-0.1.50/build.sh
/src/java/jsch-0.1.50/build.xml

/src/java/jsch-0.1.50/examples

/src/java/yetanotherworkspace
/src/java/kp2akeytransform - Kopie
/src/java/workspace
/src/java/workspace_
/src/java/workspace_tmp_
/src/java/JavaFileStorageTest/credentials.txt
/src/java/JavaFileStorageTest/gen/com/example/javafilestoragetest/BuildConfig.java
/src/java/JavaFileStorageTest/gen/com/example/javafilestoragetest/R.java
/src/java/JavaFileStorageTest/gen/com/google/android/gms/R.java
/src/java/JavaFileStorageTest/gen/group/pals/android/lib/ui/filechooser/R.java
/src/java/JavaFileStorageTest/gen/keepass2android/javafilestorage/R.java

/src/TwofishCipher/Resources/Resource.Designer.cs
/src/BindingLibrary1

/src/PluginTOTP
/src/java/DemoService

/src/java/PluginInputStick/icons

/src/java/MasterKee

/src/PluginSdkBinding/obj/ReleaseNoNet
/src/MasterKeeWinPlugin/bin/Release
/src/SamplePlugin
/src/packages/

*.apk

/src/java/JavaFileStorage/app/build
/src/java/JavaFileStorage/build
local.properties
/src/FtpClientTest/FtpClientExamples
/src/FtpClientTest
/src/FtpClientWinTest
/src/Kp2aUnitTests2
/src/MaterialTest2
/src/ResourceGrabberTest
/src/WebDavAndroid
/src/java/InputStickAPI/app/build/
/src/java/KP2ASoftkeyboard_AS/app/build/
/src/java/PluginInputStick3/pluginInputStick/build/
/src/java/android-filechooser-AS/app/build/
/src/java/android-filechooser/out/
/src/java/PluginInputStick3/inputStickAPI/build/
/src/java/android-filechooser-AS/.gradle/2.2.1/taskArtifacts/cache.properties
/src/java/android-filechooser-AS/.gradle/2.2.1/taskArtifacts/cache.properties.lock
/src/java/Keepass2AndroidPluginSDK2/app/build/
/src/java/PluginInputStick3/keepass2AndroidPluginSDK/build/
*.bak
.idea
.gradle
intermediates
*.iml
/build
/src/Kp2aKeyboardBinding/Jars
/src/java/Kp2aAccServiceLib/app/build
/src/java/Kp2aAccServiceLib/app/app.iml
/src/java/Kp2aAccServiceLib/gradle
adbprompt.ps1
/src/java/KP2ASoftkeyboard_AS/build/android-profile/*.rawproto
src/java/KP2ASoftkeyboard_AS/build/generated/mockable-android-23.jar
*.rawproto
src/java/Keepass2AndroidPluginSDK2/build/generated/mockable-Google-Inc.-Google-APIs-23.jar
/src/.vs
/src/JavaFileStorageBindings/Jars/JavaFileStorage-release.aar
/src/PluginSdkBinding/Jars/app-debug.aar
/src/java/KP2AKdbLibrary/libs/arm64-v8a/libfinal-key.so
/src/java/KP2AKdbLibrary/libs/x86_64/libfinal-key.so
/src/java/KP2ASoftkeyboard_AS/app/src/main/libs/arm64-v8a/libkp2akeyboard_jni.so
/src/java/KP2ASoftkeyboard_AS/app/src/main/libs/armeabi-v7a/libkp2akeyboard_jni.so
/src/java/KP2ASoftkeyboard_AS/app/src/main/libs/x86/libkp2akeyboard_jni.so
/src/java/KP2ASoftkeyboard_AS/app/src/main/libs/x86_64/libkp2akeyboard_jni.so
/src/java/KP2AKdbLibrary/app/build
/src/java/KP2ASoftkeyboard_AS/app/.cxx
/src/java/KP2ASoftkeyboard_AS/app/src/main/libs
/src/java/KP2AKdbLibrary/app/.cxx
/src/ActionViewFilterTest
/docs/gdrive-verification
/src/MegaTest
