<?xml version="1.0" encoding="utf-8"?>
<!--
    Copyright (c) 2012 Hai Bison

    See the file LICENSE at the root directory of this project for copying
    permission.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="group.pals.android.lib.ui.filechooser" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="23" />

</manifest>