<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
        package="keepass2android.softkeyboard" android:versionCode="1">
    <uses-sdk android:targetSdkVersion="14" android:minSdkVersion="8"/>
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />
    <application android:label="@string/ime_name">
        <service android:name="KP2AKeyboard"
                android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data android:name="android.view.im" android:resource="@xml/method" />
        </service>

        
    </application>
    
</manifest>
