<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="keepass2android.javafilestorage"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />


    <application>
        <activity
            android:name=".NotifSlave"
            android:label="Keepass2Android"></activity>
    </application>

</manifest>