<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="keepass2android.plugin.masterkee" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="14" />
	<application android:label="MasterKeePlugin" android:icon="@drawable/ic_launcher"></application>
</manifest>