<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="keepass2android.plugin.inputstick"
    android:versionCode="5"
    android:versionName="1.31" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>

        <receiver
            android:name=".AccessReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="keepass2android.ACTION_TRIGGER_REQUEST_ACCESS" />
                <action android:name="keepass2android.ACTION_RECEIVE_ACCESS" />
                <action android:name="keepass2android.ACTION_REVOKE_ACCESS" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".ActionReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="keepass2android.ACTION_OPEN_ENTRY" />
                <action android:name="keepass2android.ACTION_ENTRY_OUTPUT_MODIFIED" />
                <action android:name="keepass2android.ACTION_ENTRY_ACTION_SELECTED" />
                <action android:name="keepass2android.ACTION_CLOSE_ENTRY_VIEW" />
            </intent-filter>
        </receiver>

        <service
            android:name=".InputStickService"
            android:enabled="true" >
        </service>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MaskedPasswordActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_masked_password"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".MacSetupActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_mac_setup"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
    </application>

</manifest>
