<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="keepass2android.softkeyboard">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-sdk android:targetSdkVersion="14" android:minSdkVersion="14"/>

    <application
            android:killAfterRestore="false">


        <!--service android:name="keepass2android.autofill.AutoFillService"
            android:enabled="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accserviceconfig" />
        </service-->
        <activity android:excludeFromRecents="true"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Dialog"
            android:name=".Kp2aDialog"></activity>
    </application>
</manifest>
