<!--
 This file is part of Keepass2Android, Copyright 2025 Philipp Crocoll.

   Keepass2Android is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.

   Keepass2Android is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with Keepass2Android.  If not, see <http://www.gnu.org/licenses/>.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
            android:killAfterRestore="false">


        <!--service android:name="keepass2android.autofill.AutoFillService"
            android:enabled="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accserviceconfig" />
        </service-->
        <activity android:excludeFromRecents="true"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Dialog"
            android:name=".Kp2aDialog"></activity>
    </application>
</manifest>
